body {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

.layout_wrapper {
    background-attachment: fixed;
    background-image: url(../img/bg_default.jpg);
    display: block;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
}

.home_header_wrapper {
    /* height: 216px; */
    width: 100%;
    clear: both;
}

.nav_top_wrapper {
    padding: 0px;
    width: 100%;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: 50px;
    background-image: url(../img/top1_middle2_bg.png);
    background-repeat: repeat-x;
    background-position: 0px 0px;
}

.nav_top_wrapper .nav_top_container {
    width: 960px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0px;
    height: 10px;
}

.nav_top_wrapper a {
    color: #A6A6A6;
    text-decoration: none;
}

.player_info {
    float: left;
    margin: 0px;
    padding: 0px;
    height: 50px;
}

.player_info .left {
    background-image: url(../img/top1_left_bg.png);
    background-repeat: no-repeat;
    background-position: 0px bottom;
    float: left;
    height: 50px;
    width: 4px;
    margin: 0px;
    padding: 0px;
}

.player_info .right {
    background-image: url(../img/top1_right_bg.png);
    background-repeat: no-repeat;
    background-position: 0px bottom;
    float: left;
    height: 50px;
    width: 4px;
}

.player_info .middle {
    background-image: url(../img/top1_middle1_bg.png);
    background-repeat: repeat-x;
    background-position: 0px bottom;
    float: left;
    height: 43px;
    padding-top: 7px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    width: 220px;
    position: relative;
}

.player_info .side {
    height: 18px;
    margin-top: 34px;
}

form {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
}

.middle .login_info1 {
    float: left;
    width: 127px;
    height: 40px;
    margin-right: 5px;
}

.middle .login_info2 {
    float: left;
    height: 40px;
    width: 83px;
}

.login_info2 .row1 {
    color: #999;
    height: 21px;
    /*float: left;*/
    width: 61px;
}

a.login2 {
    display: block;
    float: left;
    text-decoration: none;
    height: 19px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    color: #292929;
    font-size: 11px;
    cursor: pointer;
}

a.login2 span.left {
    display: block;
    height: 19px;
    background-image: url(../img/btn_login2_left.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 2px;
}

a.login2:hover span.left
{
    background-image: url(../img/btn_login2_left.png);
    background-position: 0px bottom;
}

a.login2 span.middle {
    display: block;
    float: left;
    height: 17px;
    width: 56px;
    background-image: url(../img/btn_login2_middle.png);
    background-repeat: repeat-x;
    background-position: 0px 0px;
    margin: 0px;
    text-align: center;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

a.login2:hover span.middle
{
    background-image: url(../img/btn_login2_middle.png);
    background-repeat: repeat-x;
    background-position: 0px -19px;
    color: #000;
}

a.login2 span.right {
    display: block;
    float: left;
    height: 19px;
    background-image: url(../img/btn_login2_right.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 2px;
}

a.login2:hover span.right
{
    background-image: url(../img/btn_login2_right.png);
    background-repeat: no-repeat;
    background-position: 0px bottom;
}

.icon_rh {
    background-image: url(../img/icon_rh.png);
    float: left;
    height: 38px;
    margin-bottom: 6px;
    margin-right: 5px;
    margin-top: 0px;
    width: 31px;
}

.wrong_password {
    display: none;
    float: left;
    height: 18px;
    left: -4px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 41px;
    width: 300px;
    z-index: 1;
}

.wrong_password .topleft {
    background-image: url(../img/top_bg.png);
    background-position: 0 -84px;
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 3px;
}

.wrong_password .topmiddle {
    background-color: #202020;
    background-image: none;
    border-bottom: 1px solid #49587A;
    color: #F40000;
    float: left;
    font-size: 11px;
    font-weight: normal;
    height: 15px;
    padding: 0;
    text-align: center;
    width: 223px;
}

.wrong_password .topright {
    background-image: url(../img/top_bg.png);
    background-position: -2px -184px;
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 3px;
}

.login_info1 .text_box {
    float: left;
    height: 17px;
    width: 84px;
    background-color: #474849;
    border: 1px solid #5d5d5d;
    color: #777777;
    font-size: 11px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    margin: 0px;
    box-sizing: initial;
}

.header_bottom {
    background-image: url(../img/bb_logo1.png);
    background-position: 10px 28px;
    background-repeat: no-repeat;
    height: 169px;
    margin: 0 auto;
    width: 960px;
}

.header_bottom {
    height: 168px;
    width: 960px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
}

.home_header_middle {
    display: table;
    width: 100%;
    height: 120px;
    position: relative;
}

.header_bottom .bb_logo {
    background-position: 0px 0px;
    background-repeat: no-repeat;
    float: left;
    height: 92px;
    margin-left: 0px;
    margin-top: 28px;
    width: 211px;
    position:relative;
    top:10px;
}

.header_bottom .nav {
    height: 50px;
    width: 100%;
    clear: both;
}

.nav {
    padding: 0px;
    width: 960px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.nav_container {
    background-image: url(../img/bg1.png);
    width: 960px;
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 49px;
    position: relative;
    z-index: 990;
}

.ddsmoothmenu {
    padding: 0px;
    top: 0px;
    position: relative;
    right: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0px;
    float: left;
    padding-top:5px;
}

.ddsmoothmenu ul {
    z-index: 100;
    padding: 0;
    list-style-type: none;
    margin: 0;
    height: 35px;
}

.ddsmoothmenu ul li {
    position: relative;
    display: inline;
    float: left;
    top: 0px;
}

.nav_divider {
    float: left;
    height: 35px;
    width: 5px;
    padding: 0px;
    margin: 0px;
}

.btn_nav_home_en {
    background-repeat: no-repeat;
    background-position: 0px top;
    height: 35px;
    width: 30px;
    background-image: url(../img/btn_home_en.png);
    position: relative;
    margin-left: 20px;
    float: left;
}

.btn_nav_home_en:hover {
    background-position: 0px bottom;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited {
    color: #49CBFC;
}

.ddsmoothmenu ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #3CF;
    height: 35px;
    padding: 0px;
    margin: 0px;
}

.btn_nav_hide {
    text-indent: -50000px;
    display: block;
    height: 33px;
    width: 105px;
    overflow: hidden;
    position: absolute;
    z-index: -1000000000;
    top: -1000px;
}

.btn_nav_download_en {
    background-repeat: no-repeat;
    background-position: 0px top;
    height: 35px;
    width: 120px;
    background-image: url(../img/btn_download_en.png);
    position: relative;
    float: left;
}

.btn_nav_download_en:hover {
    background-position: 0px bottom;
}

.btn_nav_clubhouse_en {
    background-repeat: no-repeat;
    background-position: 0px top;
    height: 35px;
    width: 120px;
    background-image: url(../img/btn_club_house_en.png);
    position: relative;
    float: left;
}

.btn_nav_clubhouse_en:hover {
    background-position: 0px bottom;
}

.btn_nav_guide_en {
    background-repeat: no-repeat;
    background-position: 0px top;
    height: 35px;
    width: 120px;
    background-image: url(../img/btn_guide_en.png);
    position: relative;
}

.btn_nav_guide_en:hover {
    background-position: 0px bottom;
}

.btn_nav_media_en {
    background-repeat: no-repeat;
    background-position: 0px top;
    height: 35px;
    width: 109px;
    background-image: url(../img/btn_media_en.png);
    position: relative;
    float: left;
}

.btn_nav_media_en:hover {
    background-position: 0px bottom;
}

.btn_nav_support_en {
    background-repeat: no-repeat;
    background-position: 0px top;
    height: 35px;
    width: 105px;
    background-image: url(../img/btn_support_en.png);
    position: relative;
}

.btn_nav_support_en:hover {
    background-position: 0px bottom;
}

.btn_nav_deposit_en {
    background-repeat: no-repeat;
    background-position: 0px top;
    height: 35px;
    width: 120px;
    background-image: url(../img/btn_shop_en.png);
    position: relative;
    float: left;
}

.btn_nav_deposit_en:hover {
    background-position: 0px bottom;
}

.layout_wrapper .footer_wrapper {
    width: 100%;
    display: table;
}

.layout_wrapper .footer_container {
    background-image: url(../img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    padding-top: 33px;
    display: block;
}

.main_content_wrapper {
    width: 950px;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    clear: both;
    /*color: Black;*/
    display: table;
}

.footer_container .info {
    background-image: url(../img/footer_bg2.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    float: right;
    height: 43px;
    width: 348px;
    padding-left: 20px;
}

.footer_container .info div {
    float: left;
    margin-left: 35px;
    margin-top: 14px;
}

.footer_container .info a {
    color: #d6a008;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.footer_container .info a:hover
{
    color: #F8C630;
}

.layout_wrapper .footer_container img {
    float: left;
    margin-right: 5px;
    width: 163px;
    height: 41px;
    margin-left: 20px;
}